@import url('/css/reset.css');
@import url('/css/global.css');

body{
    background-color: var(--primary-color);
}


.s-menu{
    padding: 1rem 0;
    width: 100%;
    text-align: center;
    position: relative; /*menu por cima do background*/
    
}

.s-menu_item{
    display: inline-block; /*lado a lado */
    text-transform: uppercase;
    margin: 0 1.5rem;
}

.s-menu_item a {
    font-size: 20px;
}

.s-menu_icon {
    width: 5rem;
    height: 5rem;
    margin: 0 1.25rem;
    vertical-align: middle;
}

.s-menu_icon img {
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
}

/*.s-card img {
    border: 0.5rem solid white;
    width: calc(100%/2);
    height: 70vh;
    position: relative;
}*/

.box{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

    .box::before{
        content: "";
        width: 100%;
        position: absolute;
        inset: 0;
        z-index: 2;
        pointer-events: none;
        /*background-image: linear-gradient(180deg, transparent, #000000);*/
        
    }
    

.swiper-slide img {
    width: 80%; /* A imagem vai ocupar toda a largura disponível */
    height: 90%; /* A imagem vai ocupar toda a altura disponível */
    object-fit: cover; /* Garante que a imagem seja cortada para caber no contêiner, sem distorcer */
    z-index: 1;
   border: 1px solid green;
}

.swiper-slide-active img {
    opacity: 0.6; /* Ajuste a opacidade conforme necessário */
    transition: opacity 0.3s ease-in-out; /* Para uma transição suave ao mudar os slides */
}

/* Para garantir que o slide e as imagens tenham tamanhos fixos */
.swiper-slide {
    width: 100%; /* O slide ocupa toda a largura do contêiner */
    height: 70vh; /* Altura de 70% da tela */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: black;
}

.botaofps{
    position: absolute;
    top: 60%; /* Posiciona o botão 50% de cima para baixo */
     /* Posiciona o botão 50% da esquerda para a direita */
     left: 50%;
    transform: translate(-50%, -50%); /* Centraliza o botão */
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    z-index: 2;
}

.textofps{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 35%;
    z-index: 2;
}

