.sobrenos h1 {
    font-size: 50px;
    color: white;
    margin-top: -160px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    
}

.sobrenos text {
display: flex;
text-align: justify;
font-size: 20px;
margin: 10px;
padding: 20px;
display: flex;
justify-content: right; /* Centraliza a área de conteúdo */
align-items: center;
margin: 50px 0;

}

.sobrenos p{
    font-size: 20px;
}

.sobrenos h2{
    text-align: left;
    color: white;
}

.conteudo {
    display: flex;
    flex-direction: row; /* Alinha a imagem e o texto lado a lado */
    align-items: justify;

}

.sobrenos img{
    border: 1px solid green;
    margin: 50px;
}

