@font-face {
    font-family: 'Gemstone';
    src: url('css/fonts/Gemstone.ttf') format('truetype');
  }

 h1 {
    font-size: 50px;
    color: white;
    margin-top: -160px;
    text-align: center;
    font-family: 'Gemstone';
    
}

.sobrenos text {
text-align: justify;
font-size: 30px;
margin: 10px;

}

.sobrenos p{
    font-size: 23px;
    text-align: center;
    padding: 40px;
}

.sobrenos h2{
    text-align: center;
    color: white;
}
.images{
    display: flex;
}

.logo{
    width: 40%;
}

.arvore{
    height: 500px;
    border: 1px solid green;
    margin: 50px;
}


